@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
/*global*/
*{
    padding:0;
    margin:0;
    --cor-primaria:rgb(36,0,65);
    --cor-secundaria: rgb(7,210,221);
    --cor-texto:rgb(51,66,78);
    box-sizing: border-box;
    font-family: "Bona Nova SC", serif;
    
    
}

body{
    background:linear-gradient(to top, var(--cor-primaria) 10%, var(--cor-secundaria));
    height: 100vh;
}

button{
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--cor-secundaria);
    padding: .3rem .6rem;
    color:white;
    font-size: 18px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}
button:hover{
    background: var(--cor-primaria);
}
/*animações no botão de adicionar tarefa*/
.submit{
    box-shadow:  0 0 10px var(--cor-primaria);
    transition: 0.3s;
    animation: glow 1.5s infinite ;
    
}
.submit:hover{
    background: var(--cor-primaria);
    box-shadow:  0 0 20px var(--cor-primaria), 0 0 40px var(--cor-primaria);
}
@keyframes glow {
        from{
            box-shadow: 0 0 30px var(--cor-primaria);
        }
        to {
            box-shadow: 0 0 50 var(--cor-primaria);
        }
    }  

input, 
select{
    padding: .25rem .5rem;

}
.esconder{
    display: none;
}

/*main*/
.todo-conteiner{
    margin: 5rem auto;
    padding: 2.5rem;
    align-content: center;
    background-color: white;
    max-width: 450px;
    max-height:450px;
    background: rgba(255,255,255,0.1);
    border-radius: 15px;
    backdrop-filter: blur(1px);
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    z-index: 10;
}
header{
    color:black;
    font-size:30px;
    text-align: center;
    padding: 0 1rem 1rem;
    border-bottom: 1px solid #ccc;
    position: absolute;
}
#todo-form,
#edit-form {
    padding: 1rem;
    border-bottom: 1px solid #ccc;
}
#todo-form p,
#edit-form p{
    margin-bottom: 0.5rem;
    font-weight: bold;
}
.form-control{
    display: flex;
}
.form-control input{
    margin-right: 0.3rem;
}
#cancel-edit-btn{
    margin-top: 1rem;;
}
#toolbar{
    padding: 1rem;
    border-bottom: 1px solid #ccc;
    display: flex;
}
#toolbar h4{
    margin-bottom: 0.5rem;
}
#search{
    border-right: 1px solid #DDD;
    padding-right: 1rem;
    width: 65%;
    display: flex;
    flex-direction: column;
}
#search form{
    display: flex;
}
#search input{
    width: 100%;
    margin-right: 0.3rem;
}
#filter{
    width: 35%;
    display: flex;
    flex-direction: column;
}
#filter select{
    flex: 1;
}
.todo{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid #ddd;
    transition: .3s;
}
.todo h3{
    font-size: .9rem;
    flex:1;
}
.todo button{
    margin-left: .4rem;
}
.done{
    margin-top: 2px;
    background:#935169 ;
}
.done h3{
    text-decoration: line-through;
    color:white;
    font-style: italic;
}
